/* nav bar */
h3 {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    font-size: 2.75em;
}

.navbar-text {
    color: #a19b4f
}

.col {
    display: inline;
}

.pet-logo {
    width: 10%;
}

.nav-pills li.active a, li.active a:focus, .nav-pills li.active a:hover {
    background-color: #EAE3D0;
    color: #A19B4F;
    border: 1px solid #a19b4f;
}

.nav-pills li.not-active a, li.not-active a:focus, .nav-pills li.not-active a:hover {
    background-color: #EAE3D0;
    color: #A19B4F;
    border: 1px solid #a19b4f;
}

/* jumbotron */

.jumbotron {
    background-image: url(/img/hero.jpg);
    background-size: cover;
    height: 33em;
}

.jumbo-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
    font-size: 1.75em;
    text-transform: uppercase;
}

/* featured and services */

.product-img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.feature-container {
    background-color: #EAE3D0;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px solid white;
    border-radius: 15px;
}

.btn {
    color: #A19B4F;
}

.feature-container .btn {
    border: 1px solid #78743B;
}

.services-containers .btn {
    border: 1px solid #78743B;
    background-color: #eae3d0;
}

/* footer */

.footer {
    background-color: #eae3d0;
    margin-top: 5em;
    padding-top: 3em;
    margin-bottom: 5em;
}

.footer .pet-logo {
    width: 46%;
}

.social-media {
    margin: 0 auto;
}

.col-border {
    border-right: 1px solid #A19B4F;
}

.col-border-line {
    border-left: 1px solid #A19B4F;
}

h4 {
    display: inline;
}

h6 {
    text-align: center;
}

/* contact page */

.jumbo-contact {
    background-size: cover;
    height: 33em;
    border-radius: 15px;
}

.info-container {
    margin-top: 25px;
}

.row-info {
    background-color:#eae3d0;
    border: 1px solid tan;
    border-radius: 15px;
}

.img-contact {
    width: 100%;
    height: 100%;
}

.img-vet {
    width: 100%;
}
